    $bold:                          700;
    $regular:                       400;
    $thin:                          200;

    $large:                         30px;
    $intermediate:                  25px;
    $medium:                        22px;
    $small:                         15px;

    $grey:                          grey;
    $black:                         black;
    $white:                         white;
    $orange:                        #ec6464;
    $sky:                           #95d4e3;

    $navbar-light-color:            $black;
    $navbar-light-hover-color:      $black;

    $btn-border-radius:             0px;
    $btn-link-color:                $white;