    $bold:                  700;
    $regular:               400;
    $thin:                  200;

    $large:                 30px;
    $intermediate:          25px;
    $medium:                22px;
    $small:                 15px;

    $grey:                  grey;